In [73]:
import pandas as pd
from pathlib import Path
import numpy as np

In [ ]:
#Define the path

In [86]:
csv_path = Path('budget_data.csv')

In [ ]:
#Import the data into a Dataframe and define the datafram

In [88]:
csv_data = pd.read_csv(csv_path)

In [ ]:
#find the total number of months in by using count() funtion with the dataframe

In [89]:
Total_Months = csv_data['Date'].count()
print(Total_Months)

86

In [ ]:
#use the .sum() function to add the total of the second column

In [90]:
total = csv_data['Profit/Losses'].sum()
print('$',total)

$ 38382578

In [ ]:
#i'm compiling the values of profit/loss to a list so i can easily find the difference from value to value

In [98]:
values = csv_data['Profit/Losses'].tolist()
values

[867884,
 984655,
 322013,
 -69417,
 310503,
 522857,
 1033096,
 604885,
 -216386,
 477532,
 893810,
 -80353,
 779806,
 -335203,
 697845,
 793163,
 485070,
 584122,
 62729,
 668179,
 899906,
 834719,
 132003,
 309978,
 -755566,
 1170593,
 252788,
 1151518,
 817256,
 570757,
 506702,
 -1022534,
 475062,
 779976,
 144175,
 542494,
 359333,
 321469,
 67780,
 471435,
 565603,
 872480,
 789480,
 999942,
 -1196225,
 268997,
 -687986,
 1150461,
 682458,
 617856,
 824098,
 581943,
 132864,
 448062,
 689161,
 800701,
 1166643,
 947333,
 578668,
 988505,
 1139715,
 1029471,
 687533,
 -524626,
 158620,
 87795,
 423389,
 840723,
 568529,
 332067,
 989499,
 778237,
 650000,
 -1100387,
 -174946,
 757143,
 445709,
 712961,
 -1163797,
 569899,
 768450,
 102685,
 795914,
 60988,
 138230,
 671099]

In [ ]:
#i'm using the numpy functin np.diff to find the change from box to box

In [103]:
change = -np.diff(values)
print(change)

[ -116771   662642   391430  -379920  -212354  -510239   428211   821271
  -693918  -416278   974163  -860159  1115009 -1033048   -95318   308093
   -99052   521393  -605450  -231727    65187   702716  -177975  1065544
 -1926159   917805  -898730   334262   246499    64055  1529236 -1497596
  -304914   635801  -398319   183161    37864   253689  -403655   -94168
  -306877    83000  -210462  2196167 -1465222   956983 -1838447   468003
    64602  -206242   242155   449079  -315198  -241099  -111540  -365942
   219310   368665  -409837  -151210   110244   341938  1212159  -683246
    70825  -335594  -417334   272194   236462  -657432   211262   128237
  1750387  -925441  -932089   311434  -267252  1876758 -1733696  -198551
   665765  -693229   734926   -77242  -532869]

In [ ]:
#i used len because i had a hunch the first value would be skipped leaving 85 values instead of 86

In [110]:
len(change)

85

In [ ]:
#I divided the sum by 85 and formatted it to 2 decimal places. the answer is close but incorrect. gonna find a new way

In [119]:
average_change = sum(change) // 85
print("{:.2f}".format(average_change))

2315.00

In [ ]:
#i compiled the datafram into a dictionary

In [122]:
hi = csv_data.to_dict()
hi

{'Date': {0: 'Jan-2010',
  1: 'Feb-2010',
  2: 'Mar-2010',
  3: 'Apr-2010',
  4: 'May-2010',
  5: 'Jun-2010',
  6: 'Jul-2010',
  7: 'Aug-2010',
  8: 'Sep-2010',
  9: 'Oct-2010',
  10: 'Nov-2010',
  11: 'Dec-2010',
  12: 'Jan-2011',
  13: 'Feb-2011',
  14: 'Mar-2011',
  15: 'Apr-2011',
  16: 'May-2011',
  17: 'Jun-2011',
  18: 'Jul-2011',
  19: 'Aug-2011',
  20: 'Sep-2011',
  21: 'Oct-2011',
  22: 'Nov-2011',
  23: 'Dec-2011',
  24: 'Jan-2012',
  25: 'Feb-2012',
  26: 'Mar-2012',
  27: 'Apr-2012',
  28: 'May-2012',
  29: 'Jun-2012',
  30: 'Jul-2012',
  31: 'Aug-2012',
  32: 'Sep-2012',
  33: 'Oct-2012',
  34: 'Nov-2012',
  35: 'Dec-2012',
  36: 'Jan-2013',
  37: 'Feb-2013',
  38: 'Mar-2013',
  39: 'Apr-2013',
  40: 'May-2013',
  41: 'Jun-2013',
  42: 'Jul-2013',
  43: 'Aug-2013',
  44: 'Sep-2013',
  45: 'Oct-2013',
  46: 'Nov-2013',
  47: 'Dec-2013',
  48: 'Jan-2014',
  49: 'Feb-2014',
  50: 'Mar-2014',
  51: 'Apr-2014',
  52: 'May-2014',
  53: 'Jun-2014',
  54: 'Jul-2014',
  55: 'Aug-2014',
  56: 'Sep-2014',
  57: 'Oct-2014',
  58: 'Nov-2014',
  59: 'Dec-2014',
  60: 'Jan-2015',
  61: 'Feb-2015',
  62: 'Mar-2015',
  63: 'Apr-2015',
  64: 'May-2015',
  65: 'Jun-2015',
  66: 'Jul-2015',
  67: 'Aug-2015',
  68: 'Sep-2015',
  69: 'Oct-2015',
  70: 'Nov-2015',
  71: 'Dec-2015',
  72: 'Jan-2016',
  73: 'Feb-2016',
  74: 'Mar-2016',
  75: 'Apr-2016',
  76: 'May-2016',
  77: 'Jun-2016',
  78: 'Jul-2016',
  79: 'Aug-2016',
  80: 'Sep-2016',
  81: 'Oct-2016',
  82: 'Nov-2016',
  83: 'Dec-2016',
  84: 'Jan-2017',
  85: 'Feb-2017'},
 'Profit/Losses': {0: 867884,
  1: 984655,
  2: 322013,
  3: -69417,
  4: 310503,
  5: 522857,
  6: 1033096,
  7: 604885,
  8: -216386,
  9: 477532,
  10: 893810,
  11: -80353,
  12: 779806,
  13: -335203,
  14: 697845,
  15: 793163,
  16: 485070,
  17: 584122,
  18: 62729,
  19: 668179,
  20: 899906,
  21: 834719,
  22: 132003,
  23: 309978,
  24: -755566,
  25: 1170593,
  26: 252788,
  27: 1151518,
  28: 817256,
  29: 570757,
  30: 506702,
  31: -1022534,
  32: 475062,
  33: 779976,
  34: 144175,
  35: 542494,
  36: 359333,
  37: 321469,
  38: 67780,
  39: 471435,
  40: 565603,
  41: 872480,
  42: 789480,
  43: 999942,
  44: -1196225,
  45: 268997,
  46: -687986,
  47: 1150461,
  48: 682458,
  49: 617856,
  50: 824098,
  51: 581943,
  52: 132864,
  53: 448062,
  54: 689161,
  55: 800701,
  56: 1166643,
  57: 947333,
  58: 578668,
  59: 988505,
  60: 1139715,
  61: 1029471,
  62: 687533,
  63: -524626,
  64: 158620,
  65: 87795,
  66: 423389,
  67: 840723,
  68: 568529,
  69: 332067,
  70: 989499,
  71: 778237,
  72: 650000,
  73: -1100387,
  74: -174946,
  75: 757143,
  76: 445709,
  77: 712961,
  78: -1163797,
  79: 569899,
  80: 768450,
  81: 102685,
  82: 795914,
  83: 60988,
  84: 138230,
  85: 671099}}